<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('share.static', filename='css/appeal.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body class="bgcolor-white">
    <div class="indexpadding">
        <p class="indexTitle">申诉QQ：1642564872 (长按可复制)</p>
        <p class="indexText">该页面只负责通过软件激活页面购买V商神器激活失败的用户进行申诉。</p>
        <p class="indexText text-bottom">未购买用户、通过其它渠道购买激活码、其它问题不接受申诉。</p>
        <p class="noticeMsg">注：</p>
        <p class="noticeMsg">工作日48小时内解决问题，节假日顺延</p>
    </div>
</body>
</html>