<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>手机隐私|隐私联系人|微信双开|X-分身官网</title>
	<meta name="keywords" content="手机隐私,隐私联系人,微信双开,双开游戏,保护隐私,系统分身"/>
	<meta name="description" content="X-分身可以设置隐私联系人，保护手机隐私，同时实现微信双开，QQ陌陌游戏双开等功能。
	通过数据隔离技术，独立双开微信及第三方应用，私密通话，实现保护手机隐私安全的目的"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/btp.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/btp-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/gd-index.css') }}">
</head>
<body>
<!-- 导航开始 -->
    <div class="hero">
		<header class="cd-header">
			<div class="red-top"></div>
		    <div class="cd-header1024">
				<div class="gd-logo" id="cd-logo"><img class="x-logo" src="{{
				 url_for('share.static', filename='images/share/x-gd-logo.png') }}" alt="Logo"></div>
		    </div>
    	</header>		
    </div>
<!-- 导航结束 -->
<div class="hero-bg">
	<div class="all x-icon1">
		<div class="row">
			<div class="col-md-6 pad1 margin-b60">
				<img src="{{ url_for('share.static', filename='images/share/x-l.png') }}" alt="">
				<div class="row bg1-load">
					<div class="col-sm-8" style="padding-left:0px;">
						<!-- 立即下载按钮 -->
						<a href="{{data.app_dir}}"  style="margin-top:15px;">
							<img class="load-now" src="{{ url_for('share.static',
							 filename='images/share/btn-load-hover.png') }}">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 pad2">
				<img src="{{ url_for('share.static', filename='images/share/icon1.png') }}" alt="">
			</div>
		</div>
	</div>
</div>
	<div class="row bg-white">
    	<div class="page2 padding6">
	    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 margin-bt">
	    		<img src="{{ url_for('share.static', filename='images/share/icon6.png') }}" alt="">
	    	</div>
    	</div>
    </div>
    <div class="row">
    	<div class="page2 padding4 vertical-middle-sm">
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 middle vertical-box">
	    		<img src="{{ url_for('share.static', filename='images/share/icon4.png') }}" alt="">
	    	</div>
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 x-DopInfo middle vertical-box">
				<p>微商、销售</p>
				<p>轻松双开必备</p>
	    	</div>
    	</div>
    </div>
    <div class="row bg-white">
    	<div class="page2 padding5 vertical-middle-sm">
    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pho-DopInfo middle vertical-box">
				<p>轻松伪装好友身份</p>
				<p>　　放心发送私密话语</p>
				<p>任意伪装聊天记录</p>
				<p>　　坦然面对突来消息</p>
	    	</div>
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 middle vertical-box">
	    		<img src="{{ url_for('share.static', filename='images/share/wz01.png') }}" alt="">
	    	</div>
    	</div>
    </div>
    <div class="row new-bg01">
    	<div class="page2 padding6">
	    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 margin-bt icon-turn-p">
	    		<img class="turn-margin" src="{{ url_for('share.static', filename='images/share/new05.png') }}">
    			<p>修改图标样式　应急突发状况</p>
	    		<p>你的手机只有你看得懂　玩得转</p>
	    	</div>
    	</div>
    </div>
    <div class="row">
    	<div class="page2 padding3 vertical-middle-sm">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 middle vertical-box gd-hidden">
                <img src="{{ url_for('share.static', filename='images/share/icon2.png') }}" alt="">
            </div>
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 x-DopInfo middle vertical-box">
				<p>在这里，设置密友尽情聊</p>
				<p>通话无痕，更安全放心</p>
	    	</div>
	    	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 middle vertical-box">
	    		<img src="{{ url_for('share.static', filename='images/share/icon3.png') }}" alt="">
	    	</div>
    	</div>
    </div>
    <div class="row gd-bg2">
    	<div class="page2 padding5 vertical-middle-sm">
    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 x-DopInfo color-w middle vertical-box">
				<p>只有你能看懂的</p>
				<p>备忘录来电提醒</p>
	    	</div>
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 middle vertical-box">
	    		<img src="{{ url_for('share.static', filename='images/share/icon5.png') }}" alt="">
	    	</div>
    	</div>
    </div>
	<div class="row bg-white">
    	<div class="page2 padding4 vertical-middle-sm">
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 middle vertical-box">
	    		<img src="{{ url_for('share.static', filename='images/share/icon10.png') }}" alt="">
	    	</div>
	    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 x-DopInfo middle vertical-box">
				<p>优惠加立减</p>
				<p>流量更省钱</p>
	    	</div>
    	</div>
    </div>
    <div class="footer">
        <p>服务热线：010-62926683</p>
        <p>Copyright ©国鼎网络空间安全技术有限公司-京ICP备14046594号</p>
    </div>
    <!--自适应导航-->
    <!-- 以下注释内容不能删除，兼容IE使用 -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- 以上注释内容不能删除，兼容IE使用 -->

    {% if data.channel == 'sohuhs1' %}
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1263534795'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1263534795' type='text/javascript'%3E%3C/script%3E"));
            $("#cnzz_stat_icon_1263534795").css({"visibility":"hidden"});
        </script>
    {% endif %}

</body>
</html>
