<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>获奖名单</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/share-code.css') }}">
        <script src="{{ url_for('share.static', filename='js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('share.static', filename='js/fontFlex.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <img class="share-img" src="{{ url_for('share.static', filename='images/share/code-share/icon13.png') }}">
            <img class="share-img" src="{{ url_for('share.static', filename='images/share/code-share/icon14.png') }}">
        </div>    
    </body>
</html>