.idea
*.pyc
venv/
test.py
header.jpg
log/*.log
log/*/*.log
log/*.pid
WeException/*.log
WeApk/*/*.apk
WePhoto/*.jpg
*.pid
*.db
celerybeat-schedule*
__pycache__/
migrations/
Statistics/*/
StatisticsResults/*/
