<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('share.static', filename='css/business/history.css') }}">
</head>
<body class="bgcolor-white">
    <div id="codeList" class="card-padding">
        <div class="empty-icon">
            <img src="{{ url_for('share.static', filename='images/business/v05.png') }}" width="135" height="126">
            <p>今日数据正在统计，请明天来看</p>
            <p>数据将在每天早上8点更新哦！</p>
        </div>
    </div>
</body>
</html>