<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/activity/common.css') }}">
</head>
<body style="background:#A93DD3;">
	<div class="container">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/activity/a01.png') }}">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/activity/a02.png') }}">
		<div class="contact gap">
			<p>添加客服微信，参与免费抽奖活动</p>
			<p>微信号：xiangjq2019（长按复制）</p>
		</div>
	</div>
</body>
</html>             
