<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='css/load/common.css') }}">
</head>
<body style="background:#ffffff;">
	<div class="container">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/load/load01.png') }}">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/load/load02.png') }}">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/load/load03.png') }}">
		<img class="iconStyle gap" src="{{ url_for('share.static', filename='images/load/load04.png') }}">
	</div>
	<div class="bottom">
		<a href="{{app_dir}}"><div class="v-btn">点击下载V商神器</div></a>
	</div>
</body>
</html>             