<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">清理好友</p>
            <p class="explain">
               1、进入微信分身，点击右上角悬浮功能下拉框，再点击清理好友，选择需要检测的分组，点击“一开始检测”会进入检测流程。
               </p>  

            <p class="explain">
              2、在检测过程中，请不要进行其他任何操作，检测完成后点击“查看检测记录”按钮，未通过检测是指将你删除或拉黑的好友。
            </p>

            <p class="explain">
             3、有未通过检测的好友会进入“检测记录”，全选然后点击“清理好友”，会自动删除该好友。
            </p>

            <p class="explain">
              4、如果没有未通过检测好友，则直接进入下面页面，点击确定退出。
            </p>

            <p class="explain">
             5、为降低微信封号的风险，“清理好友”功能每天限使用两次
            </p>        
         </div>
    </body>
</html>