<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">如何使用通讯录加粉功能</p>
            <p class="explain">
               1、进入微信分身，点击右上角下拉框，再点击通讯录加粉，跳转到通讯录加粉界面。
            </p>

            <p class="explain">
              2、使用该功能前，您需要开启微信分身的“显示悬浮窗”权限，否则无法使用该功能。“显示悬浮窗”权限一般在您的手机设置的权限管理中哟！
            </p>

            <p class="explain">
             3、开启“显示悬浮窗”权限后，再次点击通讯录加粉按钮，即可跳转到通讯录加粉界面，选择你喜欢的验证消息，我们贴心为您准备一些验证消息，您也可以自己编辑。编辑完验证消息后，点击下方开启通讯录加粉按钮，进入选择通讯录好友界面。
            </p>

            <p class="explain">
             4、选择想要添加的好友，也可以全选，点击全选按钮即可。选择完成后，点击右上方的开始添加按钮即可。
            </p>
         </div>
    </body>
</html>