<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">自动抢红包</p>
            <p class="explain">
               1、进入微信分身，点击右上角下拉框
            </p>

            <p class="explain">
               2、点击“自动抢红包”，会弹出弹窗，勾选“我已阅读并知晓以上内容”，并点击确定
            </p>

            <p class="explain">
             3、点击中间的“未开启”按钮则已开启自动抢红包功能；再次点击则会关闭。
            </p>

            <p class="explain">
            4、点击右上角“设置”则可对“延时抢红包”“屏蔽红包文字”进行设置
            </p>

            <p class="explain">
             5、设置“延时抢红包”，软件可在红包出现后，到达您设定的时间再去自动抢红包
            </p>

            <p class="explain">
             6、设置“屏蔽红包文字”，可不拆开包含设定文字的红包，这样就防止出现抢别人专属红包的尴尬。该功能可以设定多个屏蔽词汇，中间用逗号分隔。
            </p>
         </div>
    </body>
</html>