<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">自动打招呼</p>
            <p class="explain">
               1、点击进入微信分身，点击右上角下拉框，再点击“自动打招呼”，弹窗会告诉你这个功能在哪（你可以直接去“附近的人”里找哟~）
            </p>

            <p class="explain">
             2、进入附近的人，点击右上角三个点，可以设置性别男或女，点击右上角“hi”自动打招呼按钮，可以设置打招呼人数，也可以设置打招呼语，点击“hi”就会开始打招呼了。
            </p>

            <p class="explain">
              3、如果想跟其他地方的“附近的人”打招呼，则可配合“虚拟定位”功能使用（全球定到哪，哪就可以打招呼）
            </p>
         </div>
    </body>
</html>