<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">虚拟定位</p>
            <p class="explain">
               1、进入微信分身，点击右上角下拉框
            </p>

            <p class="explain">
               2、点击“虚拟定位”，会弹出弹窗，勾选“我已阅读并知晓以上内容”，并点击确定
            </p>

            <p class="explain">
              3、点击搜索栏输入你想定位的地点，或者在地图上双击想定位的地点，点击确定
            </p>

            <p class="explain">
            4、弹出弹窗，点击“应用此位置”则该分身会使用定位地点的信息（设置完可以去看看微信分身中“附近的人”，是不是不一样了~）
            </p>
         </div>
    </body>
</html>