<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">加群好友</p>
            <p class="explain">
              1、进入微信分身，点击右上角下拉框，再点击加群好友，点击右上角开启关闭按钮（你可以直接去群里找哟~）
            </p>

            <p class="explain">
               2、在微信分身里随便点进一个群，点击右上角，就可以看到“加群好友”功能了哟~
            </p>

            <p class="explain">
             3、你可以创建标签，之后同意的好友，就可以在微信通讯录的相应标签下找到了；也可以在此设置验证申请；以及朋友圈权限“不让他（她）看我的朋友圈”；加群内好友人数(默认加群好友不加第一个人，也就是群主，去掉勾选可以手动设置加群人数)；也可以根据性别添加。
            </p>

            <p class="explain">
              点击加群好友，软件就会模拟操作进行添加好友了~
            </p>
            
            <p class="explain">
              （为防止封号，建议每天加群人数不超过100人）
            </p>
         </div>
    </body>
</html>