<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">V商神器有什么功能，那些功能在哪？</p>
            <p class="explain">
               V商神器目前有微信多开、自动抢红包、虚拟定位、一键转发、加群好友、自动打招呼、清理好友、自助群发、通讯录加粉十大功能。
            </p>
            <p class="explain">（如果这些功能不能满足您的业务需求，您可以跟您的上家反馈给我们，会根据您的建议，尽快开发出来的~）
            </p>
            <p class="explain">
               1、点击制作分身（最多可以制作5个）
            </p>
            <p class="explain">
               2、为分身命名（点击“制作分身”）
            </p>
            <p class="explain">
              3、安装（如有风险提示，请忽视），之后点击打开
            </p>
         </div>
    </body>
</html>