<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">如何使用自助群发</p>
            <p class="explain">
             1、进入微信分身，点击右上角悬浮功能下拉框，再点击自助群发，跳转到自助群发界面。
            </p>

            <p class="explain">
             2、分批群发，在群发设置中选择需要群发的内容；文字，图片视频三选一，选择群发的分组；最多可选五组；点击开始群发即可。如果需要继续群发，您点击下方新建群发按钮即可。
            </p>

            <p class="explain">
             3、标签群发，需要先将群发的好友设置为标签好友，点击标签群发，设置群发的内容，文字，图片，视频三选一，设置需要屏蔽的标签好友，默认发送全部标签好友，点击开启群发即可，~如果需要继续群发，您点击下方新建群发按钮即可。
            </p>
         </div>
    </body>
</html>