<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('guide.static', filename='css/help.css') }}">
    </head>
    <body>
         <div class="container con-padding">
            <p class="details-title margin-b30">一键转发</p>
            <p class="explain">
               1、进入微信分身，点击右上角下拉框，再点击一键转发，弹窗会告诉你这个功能在哪（你也可以直接进朋友圈去找它们哟~）
            </p>

            <p class="explain">
               2、进入分身朋友圈，往上滑至需要一键转发的一条朋友圈，点击右侧转发按钮（另外在个人相册也有一键转发功能）
            </p>
            
            <p class="explain">
              3、点击一键转发，则会直接将该条朋友圈内容转发，再点击发送，就发送出去了（一键转发支持文字、图片以及视频）
            </p>
         </div>
    </body>
</html>