{% extends "base.html" %}
{% block title %} -修改密码{% endblock %}

{% block page_content %}
<form action="{{ url_for('auth.change_password') }}" method="post">
    {{ form.csrf_token }}
    <table align="center" style="font-size:14px;">
        <tr>
            <td style="padding-right:5px;">{{ form.old_password.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.old_password(class="form-control", placeholder="旧密码", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.new_password.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.new_password(class="form-control", placeholder="密码", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.repeat_password.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.repeat_password(class="form-control", placeholder="确认密码", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-bottom:10px;">
                {{ form.submit(class="btn btn-primary") }}
            </td>
        </tr>
    </table>
</form>
{% endblock %}