{% extends "base.html" %}
{% block subtitle %} -添加商业会员服务协议{% endblock %}

{% block page_content %}
    <form action="{{ url_for('manage.add_business_protocol') }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <table align="center" style="font-size:14px;">
            <tr>
                <td style="padding-right:5px;">{{ form.content.label }}:</td>
                <td style="padding-bottom:10px;">{{ form.content(class="form-control", placeholder="必填") }}</td>
            </tr>
                <td style="padding-bottom:100px;">
                    {{ form.submit(class="btn btn-primary") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}