{% extends "base.html" %}
{% import "_macro.html" as macro%}
{% block subtitle %} -用户管理{% endblock %}

{% block page_content %}
{% if action == "LIST"%}
<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="success">
					<td class="text-center">ID</td>
					<td class="text-center">用户名</td>
					<td class="text-center">邮箱</td>
					<td class="text-center">用户角色</td>
					<td class="text-center">用户部门</td>
					<td class="text-center">用户状态</td>
					<td class="text-center">操作</td>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
			<tr>
				<td class="text-center">{{ user.id }}</td>
				<td class="text-center">{{ user.username }}</td>
				<td class="text-center">{{ user.email }}</td>
				<td class="text-center">{{ Role.description[user.role] }}</td>
				<td class="text-center">{{ Department.description[user.department] }}</td>
				<td class="text-center">{% if user.confirmed == False %}未确认{% else %}已确认{% endif %}</td>
				<td class="text-center">
				{% if user.role == Role.ADMIN %}
					<a class="btn btn-danger btn-xs disabled">禁用</a>
					<a class="btn btn-danger btn-xs disabled">删除</a>
				{% else %}
					{% if user.forbidden == False %}
					<a class="btn btn-danger btn-xs" onclick="set_admin_user_status({{ user.id }})">禁用</a>
					{% else %}
					<a class="btn btn-success btn-xs" onclick="set_admin_user_status({{ user.id }})">启用</a>
					{% endif %}
					<a class="btn btn-danger btn-xs" onclick="del_admin_user({{ user.id }})">删除</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
	function del_admin_user(id)
	{
		$.ajax({
			  url: "{{url_for('manage.del_admin_user')}}",
			  data: {"id":id},
			  type: "GET",
			  dataType: "json",
			  async: false,
			  cache: false
			}).done(function( result ) {
				if(result.code != 0){ //如果出错则为非0
					alert('删除失败');
				}else{
					alert('删除成功!');
					parent.location.reload(); //刷新页面
				}
			}).fail(function(result){
				var errmsg = "访问服务器出错："+fmtJqueryAjaxError(result);
				alert(errmsg);
			});
	}

	function set_admin_user_status(id)
	{
		$.ajax({
			  url: "{{url_for('manage.set_admin_user_status')}}",
			  data: {"id":id},
			  type: "GET",
			  dataType: "json",
			  async: false,
			  cache: false
			}).done(function( result ) {
				if(result.code < 0){ //如果出错则为非0
					alert('操作失败');
				}else{
					alert('操作成功!');
					parent.location.reload(); //刷新页面
				}
			}).fail(function(result){
				var errmsg = "访问服务器出错："+fmtJqueryAjaxError(result);
				alert(errmsg);
			});
	}
</script>
{% elif action == "ADD"%}

<form action="{{ url_for('manage.add_admin_user') }}" method="post">
    {{ form.csrf_token }}
    <table align="center" style="font-size:14px;">
        <tr>
            <td style="padding-right:5px;">{{ form.user_type.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.user_type(class="form-control")}}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.user_department.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.user_department(class="form-control")}}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.email.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.email(class="form-control", placeholder="邮箱", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.username.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.username(class="form-control", placeholder="用户名", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.password.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.password(class="form-control", placeholder="密码", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td style="padding-right:5px;">{{ form.password2.label }}:</td>
            <td style="padding-bottom:10px;">{{ form.password2(class="form-control", placeholder="确认密码", style="width:240px;") }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-bottom:10px;">
                {{ form.submit(class="btn btn-primary") }}
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock %}
{% block page%}
{% if action == "LIST"%}
	{{ macro.pagination_widget(pagination, 'manage.list_admin_user') }}
{% endif %}
{% endblock %}