{% extends "base.html" %}
{% block subtitle %} -免费体验周期{% endblock %}

{% block page_content %}
    <form action="{{ url_for('manage.free_experience_days') }}" method="post">
        {{ form.csrf_token }}
        <table align="center" style="font-size:14px;">
            <tr>
                <td style="padding-right:5px;">{{ form.days.label }}:</td>
                <td style="padding-bottom:15px;">{{ form.days(class="form-control") }}</td>
            </tr>
            <tr>
                <td style="padding-bottom:10px;"></td>
                <td style="padding-bottom:10px;">注：如填写7,则用户7天内可获得一次免费使用机会</td>
            </tr>

            <tr>
                <td style="padding-bottom:100px;">
                    {{ form.submit(class="btn btn-primary") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}