{% extends "base.html" %}
{% import "_macro.html" as macro%}

{% block subtitle %} -开屏广告{% endblock %}

{% block page_content %}
<form class="form-inline panel panel-default" action="{{url_for('manage.get_open_screen_ads')}}" method="post">
    {{ form.csrf_token }}
    <div class="panel-body">
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.name.label }}:
            {{ form.name(class="form-control", placeholder="广告名称") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.position.label }}:
            {{ form.position(class="form-control") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.source.label }}:
            {{ form.source(class="form-control") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.status.label }}:
            {{ form.status(class="form-control") }}
        </div>
        {{ macro.date_search(form) }}
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
			<a href="{{url_for('manage.get_open_screen_ads')}}" class="btn btn-primary">重置</a>
            {{ form.submit(class="btn btn-primary") }}

        </div>
    </div>
</form>

<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
                    <td class="text-center">广告ID</td>
					<td class="text-center">广告名称</td>
					<td class="text-center">广告来源</td>
                    <td class="text-center">广告位置</td>
                    <td class="text-center">广告商</td>
                    <td class="text-center">广告编号</td>
                    <td class="text-center">总展现量</td>
                    <td class="text-center">去重展现量</td>
                    <td class="text-center">总点击量</td>
                    <td class="text-center">去重点击量</td>
                    <td class="text-center">自然点击量</td>
                    <td class="text-center">昨日总点击率</td>
                    <td class="text-center">昨日自然点击率</td>
                    <td class="text-center">合作开始时间</td>
                    <td class="text-center">状态</td>
                    <td class="text-center">操作</td>
				</tr>
			</thead>
			<tbody>
			{% for item in data %}
			<tr>
                <td class="text-center">{{ item.id }}</td>
                <td class="text-center">{{ item.name }}</td>
				<td class="text-center">{{ ADS_SOURCE[item.source] }}</td>
				<td class="text-center">{{ OPEN_SCREEN_ADS_POSITION[item.position] }}</td>
				<td class="text-center">{{ item.advertiser }}</td>
                <td class="text-center">{{ item.number }}</td>
				<td class="text-center">{{ item.total_display_number }}</td>
				<td class="text-center">{{ item.display_number }}</td>
                <td class="text-center">{{ item.total_click_number }}</td>
                <td class="text-center">{{ item.click_number }}</td>
                <td class="text-center">{{ item.real_click_number }}</td>
                <td class="text-center">{{ item.total_click_rate }}%</td>
                <td class="text-center">{{ item.real_click_rate }}%</td>
                <td class="text-center">{{ item.start_time }}</td>
				<td class="text-center">{% if item.status == 0 %}关闭{% else %}开启{% endif %}</td>
                <td align="center">
                    <a type="button" class="btn btn-info btn-xs" href="{{ url_for('manage.open_screen_ads_info',
                     ad_id=item.id) }}">广告详情</a>
                                        <a type="button" class="btn btn-info btn-xs" href="{{ url_for('manage.get_open_config',
                     ad_id=item.id) }}">已开放渠道</a>
                </td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
        <div class="form-group" style="padding-right:5px;padding-top:5px;text-align:left;">
            <a href="{{ url_for('manage.add_open_screen_ads') }}" class="btn btn-primary">添加广告</a>
            <a  href="{{url_for('manage.edit_open_strategy')}}" class="btn btn-primary">广告展示策略</a>
            <a href="{{url_for('manage.export_result', name=form.name.data, position=form.position.data,
            source=form.source.data, status=form.status.data, start_time=form.start_time.data,
             end_time=form.end_time.data, export_type = 11)}}" class="btn btn-primary">导出表格</a>
        </div>
	</div>
</div>
{% endblock %}
{% block page%}
	{{ macro.pagination_widget(pagination, 'manage.get_open_screen_ads', name=form.name.data,
position=form.position.data, source=form.source.data, status=form.status.data, start_time=form.start_time.data,
end_time=form.end_time.data) }}
{% endblock %}