{% extends "base.html" %}
{% import "_macro.html" as macro%}
{% block subtitle %} -渠道账号查询{% endblock %}

{% block page_content %}
<form class="form-inline panel panel-default" action="{{url_for('manage.get_account_info')}}"  method="post">
    {{ form.csrf_token }}
    <div class="panel-body">
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.channel_name.label }}:
            {{ form.channel_name(class="form-control") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.channel_manager.label }}:
            {{ form.channel_manager(class="form-control") }}
        </div>

        <div class="form-group" style="padding-right:5px;padding-top:5px;">
			<a href="{{url_for('manage.get_account_info')}}" class="btn btn-primary">重置</a>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
    <div class="form-group" style="padding-right:5px;padding-top:5px;text-align:left;">
            <a type="button" class="btn btn-primary" href="{{ url_for('manage.add_account') }}">创建渠道账号</a>
        </div>

<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
                    <td class="text-center">序号</td>
					<td class="text-center">渠道ID</td>
					<td class="text-center">渠道名称</td>
					<td class="text-center">账号</td>
					<td class="text-center">渠道负责人</td>
					<td class="text-center">接入时间</td>
					<td class="text-center">备注</td>
					<td class="text-center">操作</td>
					<td class="text-center">操作人</td>
				</tr>
			</thead>
			<tbody>
			{% for temp in data %}
			<tr>
                <td class="text-center">{% if page == 1 %}{{loop.index}}
                                        {% else %}{{ per_page*(page - 1) + loop.index }}{% endif %}</td>
				<td class="text-center">{{temp.channel_id}}</td>
                <td class="text-center">{{temp.channel_name}}</td>
                <td class="text-center">{{temp.account_id}}</td>
                <td class="text-center">{{temp.channel_manager}}</td>
                <td class="text-center">{{temp.create_time}}</td>
                <td class="text-center">{{temp.content}}</td>
                <td class="text-center">
                    <a type="button" class="btn btn-info" href="{{ url_for('manage.edit_channel_account',cur_id=temp.id) }}">修改</a>
                </td>
                <td class="text-center">{{temp.operator}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>
{% endblock %}
{% block page%}
	{{ macro.pagination_widget(pagination, 'manage.get_account_info', channel_name=form.channel_name.data, channel_manager=form.channel_manager.data) }}
{% endblock %}