{% extends "base.html" %}
{% import "_macro.html" as macro%}
{% block subtitle %} -消息通知{% endblock %}

{% block page_content %}
<form class="form-inline panel panel-default" action="{{url_for('manage.get_notice_info')}}"  method="post">
    {{ form.csrf_token }}
    <div class="panel-body">
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.oeprator.label }}:
            {{ form.oeprator(class="form-control") }}
        </div>
        {{ macro.time_search(form) }}
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
			<a href="{{url_for('manage.get_notice_info')}}" class="btn btn-primary">重置</a>
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn-primary btn" href="{{ url_for('manage.add_notice') }}">新建通知</a>
        </div>
    </div>
</form>

<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
					<td class="text-center">序号</td>
					<td class="text-center">通知类型</td>
					<td class="text-center">通知标题</td>
					<td class="text-center">通知内容</td>
					<td class="text-center">开始时间</td>
					<td class="text-center">结束时间</td>
					<td class="text-center">通知时间段</td>
					<td class="text-center">备注</td>
					<td class="text-center">状态</td>
					<td class="text-center">操作人</td>
					<td class="text-center">操作</td>
				</tr>
			</thead>
			<tbody>
			{% for temp in data %}
			<tr>
				<td class="text-center">{% if page == 1 %}{{loop.index}}
                                        {% else %}{{ per_page*(page - 1) + loop.index }}{% endif %}</td>
				<td class="text-center">{% if temp.notice_type == 0 %}文字通知{% else %}图片通知{% endif %}</td>
				<td class="text-center">{{temp.title}}</td>
                <td class="text-center">{{temp.content}}</td>
                <td class="text-center">{{temp.start_time}}</td>
                <td class="text-center">{{ temp.end_time }}</td>
                <td class="text-center">{% if temp.time_quantum == 0 %}0：00 ~ 5：59{% elif temp.time_quantum == 1 %}6：00 ~ 11：59{% elif temp.time_quantum == 2 %}12：00 ~ 17：59{% elif temp.time_quantum == 3 %}18：00 ~ 23：59{% else %}{% endif %}</td>
                <td class="text-center">{{temp.remarks}}</td>
                <td class="text-center">{% if temp.status == 0 %}关闭{% else %}开启{% endif %}</td>
                <td class="text-center">{{temp.oeprator}}</td>
                <td class="text-center">
                {% if temp.status == 1 %}
					<a onclick="notice_status('{{temp.id}}', 0)" class="btn btn-danger btn-xs">关闭</a>
					{% else %}
					<a onclick="notice_status('{{temp.id}}', 1)" class="btn btn-success btn-xs">开启</a>
                {% endif %}
                    <a type="button" class="btn btn-info btn-xs" href="{{ url_for('manage.notice_detail', id=temp.id) }}">详情</a>
                    <a type="button" class="btn btn-danger btn-xs" href="{{ url_for('manage.delete_detail', id=temp.id) }}">删除</a>
                </td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>
<script>
    function notice_status(id, status) {
       var close;
        if (status == 0){
            close = confirm("确认关闭此条通知信息吗?");
        } else {
            close = confirm("确认开启此条通知信息吗?");
        }
       if (close) {
            $.ajax({
               url: "{{ url_for('manage.set_notice_status') }}",
               data: {"id":id},
               type: 'GET',
               dataType: 'json',
               async: false,
               cache: false
            }).done(function ( result) {
                if (result['code'] < 0){
                   alert('操作失败');
                }else{
                    if (result['code'] == 0){
                        alert('关闭成功!');
                    }
                    if (result['code'] == 1){
                        alert('开启成功!');
                    }
                    parent.location.reload();
                }
            }).fail(function (result) {
                var errmsg = "访问服务器出错："+fmtJqueryAjaxError(result);
                    alert(errmsg);
                });
       }
       else {
           alert("已取消");
       }parent.location.reload();
    }

</script>
{% endblock %}
{% block page %}
	{{ macro.pagination_widget(pagination, 'manage.get_notice_info', oeprator=form.oeprator.data, start_time=form.start_time,
            end_time=form.end_time.data) }}
{% endblock %}
