{% extends "base.html" %}
{% import "_macro.html" as macro%}
{% block subtitle %} -微商key信息{% endblock %}

{% block page_content %}
<form class="form-inline panel panel-default" action="{{url_for('manage.we_get_key_record')}}"  method="post">
    {{ form.csrf_token }}
    <div class="panel-body">
        {{ macro.time_search(form) }}
    <br>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.phone_num.label }}:
            {{ form.phone_num(class="form-control") }}
        </div>
		<div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.operator.label }}:
            {{ form.operator(class="form-control") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
            {{ form.we_key_number.label }}:
            {{ form.we_key_number(class="form-control") }}
        </div>
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
			<a href="{{url_for('manage.we_get_key_record')}}" class="btn btn-primary">重置</a>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
					<td class="text-center">序号</td>
                    <td class="text-center">手机号</td>
					<td class="text-center">key记录编号</td>
					<td class="text-center">创建时间</td>
{#					<td class="text-center">有效期截止</td>#}
					<td class="text-center">VIP有效期(天)</td>
					<td class="text-center">创建数量</td>
					<td class="text-center">已激活</td>
					<td class="text-center">未激活</td>
					<td class="text-center">过期未使用</td>
					<td class="text-center">免广告时间(天)</td>
					<td class="text-center">操作人</td>
					<td class="text-center">备注</td>
					<td class="text-center">操作</td>
				</tr>
			</thead>
			<tbody>
			{% for temp in data %}
			<tr>
				<td class="text-center">{% if cur_page == 1 %}{{loop.index}}
                                        {% else %}{{ page_size*(cur_page - 1) + loop.index }}{% endif %}</td>
                <td class="text-center">{{temp.phone_num}}</td>
				<td class="text-center">{{temp.we_record_id}}</td>
				<td class="text-center">{{temp.create_time}}</td>
{#				<td class="text-center">{{temp.expire_time}}</td>#}
				<td class="text-center">{{temp.vip_time}}</td>
				<td class="text-center">{{temp.count}}</td>
				<td class="text-center">{{dic[temp.id][1]}}</td>
				<td class="text-center">{{dic[temp.id][0]}}</td>
				<td class="text-center">{{dic[temp.id][2]}}</td>
				<td class="text-center">{{temp.vip_ad_time}}</td>
				<td class="text-center">{{temp.oeprator}}</td>
				<td class="text-center">{{temp.content}}</td>
				<td class="text-center">
                    <a type="button" class="btn btn-info" href="{{ url_for('manage.we_key_detail', id= temp.id,
                     oeprator=temp.oeprator) }}">Key详情</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
        <a href="{{url_for('manage.export_result', start_time = form.start_time.data,
        end_time = form.end_time.data, phone_num = form.phone_num.data, we_key_number = form.we_key_number.data,
         operator=form.operator.data, export_type = 26)}}" class="btn btn-primary">导出结果为<br/>excel表格</a>
    </div>
</div>
{% endblock %}
{% block page %}
{% import "pager.html" as pageinfo %}
{{pageinfo.pager(dest_url='manage.we_get_key_record', page=page, error=data, query=query)}}
{% endblock %}

