<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>微商神器源|微信群|微商软件|微商神器官网</title>
	<meta name="keywords" content="微商神器源,微商创业,微信加人,微商软件"/>
	<meta name="description" content="微商神器是一款帮助微商创业者获取微信客源的一款免费微商软件，具有快速微信加人，一键转发，虚拟定位等功能,无愧于全球最好用微商营销神 器！"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/jquery.fullPage.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/examples.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/btp.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/btp-theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/index.css') }}" />
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
    <script src="{{ url_for('home.static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('home.static', filename='js/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/jquery.fullPage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/examples.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/btp.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/fullPageIndex.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/nav.js') }}"></script>
</head>
<body>
<!-- 导航开始 -->
<div class="cd-header">
	<div class="cd-header1024">
		<div class="gd-logo" id="cd-logo"><a href="{{ url_for('home.index') }}"><img class="x-logo" src="{{ url_for('home.static', filename='imgs/index-logo.png') }}" alt="Logo"></a></div>
		<nav class="cd-main-nav">
			<ul>
				<li>
					<a id="index" href="{{ url_for('home.index') }}">首页</a>
					<p class="spot1">.</p>
				</li>
				<li>
					<a id="news" href="{{ url_for('home.news_list') }}">新闻中心</a>
				</li> 
				<li>
					<a href="{{ url_for('home.about') }}">关于我们</a>
				</li>
            </ul>
        </nav>
    </div>
</div>
<!-- 导航结束 -->
<div id="fullpage">
	<div class="section" id="section0">
		<img class="icon-logo" src="{{ url_for('home.static', filename='imgs/wsk09.png') }}" />
		<div class="title-logo">微商神器</div>
		<img class="banner-titile" src="{{ url_for('home.static', filename='imgs/wsk12.png') }}" />
		<!-- 下载到本地 -->
		<a href="http://www.wemiyao.com/vssq/share/download"><div class="load-btn"></div></a>
		<img class="load-qr" src="{{ url_for('home.static', filename='imgs/wsk14.png') }}" />
		<div id="next"><img src="{{ url_for('home.static', filename='imgs/next.png') }}" alt=""></div>
	</div>
	<div class="section" id="section1">
		<div class="secondPage">
			<h1 class="second-title">独家优势</h1>
			<p class="english-title">EXCLUSIVE ADVANTAGE</p>
			<img class="second-underline" src="{{ url_for('home.static', filename='imgs/wsk15.png') }}" />
			<div class="row second-icon">
				<a  href="#3rdPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk16.png') }}" alt=""></div></a>
				<a  href="#4thPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk17.png') }}" alt=""></div></a>
				<a  href="#5thPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk18.png') }}" alt=""></div></a>
				<a  href="#6thPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk19.png') }}" alt=""></div></a>
				<a  href="#7thPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk20.png') }}" alt=""></div></a>
				<a  href="#8thPage"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img src="{{ url_for('home.static', filename='imgs/wsk21.png') }}" alt=""></div></a>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<h1 class="title-h">无限多开</h1>
		<p class="title-p">一台手机同时登陆多个账号，同时在线互不干扰</p>
		<div class="col-md-5 col-lg-4 col-sm-10 col-xs-12" style="margin:0 auto;float:none;">
			<img src="{{ url_for('home.static', filename='imgs/wsk02.png') }}" alt="iphone" />
		</div>
	</div>
	<div class="section" id="section3">
		<h1 class="title-h">虚拟定位</h1>
		<p class="title-p">全球虚拟定位，去你想去的任何地方</p>
		<div class="col-md-5 col-lg-5 col-sm-11 col-xs-12" style="margin:0 auto;float:none;">
			<img src="{{ url_for('home.static', filename='imgs/wsk04.png') }}" alt="iphone" />
		</div>
	</div>
	<div class="section" id="section4">
		<h1 class="title-h">自动打招呼</h1>
		<p class="title-p">一键自动打招呼，获取客源无限</p>
		<div class="col-md-5 col-lg-5 col-sm-10 col-xs-12" style="margin:0 auto;float:none;">
			<img src="{{ url_for('home.static', filename='imgs/wsk06.png') }}" alt="iphone" />
		</div>
	</div>
	<div class="section" id="section5">
		<h1 class="title-h">自动加好友</h1>
		<p class="title-p">自动加群内好友，让你的客户成倍增长</p>
		<div class="col-md-5 col-lg-5 col-sm-10 col-xs-12" style="margin:0 auto;float:none;">
			<img src="{{ url_for('home.static', filename='imgs/wsk08.png') }}" alt="iphone" />
		</div>
	</div>
	<div class="section " id="section6">
		<div class="seventhPage">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<img src="{{ url_for('home.static', filename='imgs/wsk23.png') }}" alt="">
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 textRight">
				<h1 class="seven-title">一键转发</h1>
				<p class="title-p">朋友圈的文字/图片/视频一键转发，方便快捷</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 iconRight">
				<img src="{{ url_for('home.static', filename='imgs/wsk24.png') }}" alt="">
			</div>
		</div>
	</div>
	<div class="section" id="section7">
		<h1 class="title-h">一键集赞</h1>
		<p class="title-p">无需打扰朋友，轻松一键集赞</p>
		<div class="col-md-6 col-lg-6 col-sm-10 col-xs-12" style="margin:0 auto;float:none;">
			<img src="{{ url_for('home.static', filename='imgs/wsk28.png') }}" alt="iphone" />
		</div>
	</div>
	<div class="section" id="section8">
		<h1 class="end-title">更多精彩功能 尽在微商神器</h1>
		<p class="end-p">微微一开 获客发财</p>
		<img class="second-underline" src="{{ url_for('home.static', filename='imgs/wsk29.png') }}" />
		<div class="row lastScreen">
			<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<img src="{{ url_for('home.static', filename='imgs/wsk30.png') }}" alt="">
				<p class="qrCode-title">扫码下载</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<img src="{{ url_for('home.static', filename='imgs/wsk31.png') }}" alt="">
				<p class="qrCode-title">扫码关注</p>
			</div>
		</div>
	</div>
</div>
<div id="goTop"><img src="{{ url_for('home.static', filename='imgs/goTop.png') }}" alt=""><span>回顶部</span></div>
</body> 	
</html>
