<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>微商神器源|微信群|微商软件|微商神器官网</title>
	<meta name="keywords" content="微商神器源,微商创业,微信加人,微商软件"/>
	<meta name="description" content="微商神器是一款帮助微商创业者获取微信客源的一款免费微商软件，具有快速微信加人，一键转发，虚拟定位等功能,无愧于全球最好用微商营销神 器！"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/btp.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/btp-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/gd-index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/index-new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('home.static', filename='css/index.css') }}">
</head>
<body>
<!-- 导航开始 -->
    <div class="cd-header headerBg">
	<div class="cd-header1024">
		<div class="gd-logo" id="cd-logo"><a href="{{ url_for('home.index') }}"><img class="x-logo" src="{{ url_for('home.static', filename='imgs/index-logo.png') }}" alt="Logo"></a></div>
		<nav class="cd-main-nav">
			<ul>
				<li>
					<a id="index" href="{{ url_for('home.index') }}">首页</a>
				</li>
				<li>
					<a id="news" href="{{ url_for('home.news_list') }}">新闻中心</a>
					<p class="spot2">.</p>
				</li> 
				<li>
					<a href="{{ url_for('home.about') }}">关于我们</a>
				</li>
            </ul>
        </nav>
    </div>
</div>
<!-- 导航结束 -->
<!-- 第一块 -->
	<div  class="row">
        <img  src="{{ url_for('home.static', filename='imgs/wsk42.png')}}"  alt="">
    </div>
    <!-- 新闻列表开始 -->
	<div class="all" style="padding-top:60px;margin-bottom:100px;">
		<div class="row newsLine">
			<a class="newsLink" href="{{ url_for('home.news1') }}">
		    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clearPadding">
		          	<img class="media-object" src="{{ url_for('home.static', filename='imgs/wsk36.png')}}">
		        </div>
		        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6" style="line-height:32px;">
		        	<div class="pro-p1" style="margin-top:15px; padding:0;">
		        		<p class="contact-title">微商必备营销神器——微商神器震撼上线！</p>
		              	<div class="newsArticle">
		              	2017年12月15日，微商神器1.0.1版本正式发布。微商神器是高效的微信营销神器，帮助微商创业者以及微信营销者，快速获取高质量的客源...
		              	<span class="aColor">阅读全文>> </span>
		              	</div>
						<p class="newsTime">2017-12-22</p>
		            </div>
		        </div>
		    </a>
		</div>
	    <div class="row newsLine">
			<a class="newsLink" href="{{ url_for('home.news2') }}">
		    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clearPadding">
		          	<img class="media-object" src="{{ url_for('home.static', filename='imgs/wsk41.png')}}">
		        </div>
		        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6" style="line-height:32px;">
		        	<div class="pro-p1" style="margin-top:15px; padding:0;">
		        		<p class="contact-title">一键集赞不求人 要多赞有多赞</p>
		              	<div class="newsArticle">
		              	你有没有经常收到这样的信息“朋友圈第一条点赞，谢谢！”，当时你的内心其实是拒绝的，然而，当某一天，你看到这样的活动：“集...
		              	<span class="aColor">阅读全文>> </span></div>
						<p class="newsTime">2018-01-08</p>
		            </div>
		        </div> 
		    </a>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('home.static', filename='js/btp.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('home.static', filename='js/nav.js') }}"></script>
    <!-- 以下注释内容不能删除，兼容IE使用 -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- 以上注释内容不能删除，兼容IE使用 -->
</body>
</html>
