 body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #4936B9;
    font-family: "微软雅黑";
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
a{
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0);
}
.container{
  position: relative;
  padding:10px 0px 10px 0px;
}
.iconStyle{
    width: 100%;
}
/*新用户弹框跳转页面*/
.gap{
    margin-top:-5px;
}
/*v商神器下载页面*/
.bottom{
    color: #ffffff;
    font-size: 15px;
    background: #119858;
    box-shadow: 0px 5px 20px #F67F4A;
    width: 100%;
    padding: 15px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
}


